[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Forum
Exec=/usr/bin/invoker --single-instance --type=d --splash=/usr/share/themes/blanco/meegotouch/images/splash/forum-fmc-splash.jpg -s /opt/forum-fmc/bin/forum-fmc --fmc
Icon=/usr/share/icons/hicolor/80x80/apps/forum-fmc80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
